body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #FFF8E7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160vh;
}

.next-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 300px;
}

h1 {
  margin: 0;
  text-align: center;
  margin-bottom: 15px;
  color: #000000;
  font-size: 30px;
}

p{
  margin: 0;
  margin-bottom: 35px;
  font-size: 17px;
  text-align: center;
}

label{
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}

input{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-error {
  border: 2px solid red;
  background-color: #fff0f0;
}

.input-password-error {
  border: 2px solid red;
  background-color: #fff0f0;
}

select{
 width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;  
}

.name{
    display: flex;
    gap: 10px;
}

.name-kana{
    display: flex;
    gap: 10px;
}

#post-number{
    width: 50%;
    margin-right: auto;
}

.password {
  position: relative;
  display: flex;
  align-items: center;
}

.password-onemore{
    position: relative;
  display: flex;
  align-items: center;
}

.eye {
  position: absolute;
  right: 10px;
  top:10px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.birth{
    display: flex;
    gap: 10px;
}

#year{
    width: 40%;
}

#month{
    width: 30%;
}

#day{
    width: 30%;
}

span{
    color: red;
    margin-left: 8px;
    font-size: 13px;
}

#button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #3E665A;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
