body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #FFF8E7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 300px;
}

p {
  margin: 0;
  white-space: nowrap;
  font-size: 17px;
  margin-bottom: 35px;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
  color: #000000;
  font-size: 30px;
}

form{
  width:100%;
}

label {
  display:block;
  margin-bottom: 5px;
  color: #555;
  font-size: 15px;
  text-align: left;
  width: 100%;
}

#email{
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#button {
  width: 100%;
  padding: 12px;
  margin-top: 25px;
  margin-bottom: 35px;
  background-color: #A8D5BA;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

#button.active {
  background-color: #3E665A;
  cursor: pointer;
}
