body{
    margin: 0;
}

header{
    position:fixed;
    height:65px;
    width:100%;
    background-color: #3E665A;
    z-index: 999;
}

.left img{
  position: absolute;
  height:65px;
  margin-left: 25px;
  cursor: pointer;
}

.right{
    float: right;
    position:relative;
    display:flex;
    color:white;
}

.right figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    font-size:20px;
    cursor: pointer;
}

.right figcaption{
    margin-top: 5px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.right button{
    --opcity:1;
    --rotate:0;
    --translate:.7rem;
    display: grid;
    place-items: center;
    width: 50px;
    aspect-ratio: 1/1;
    border: none;
    background-color:transparent;
    margin-top: 6px;
    margin-left:20px;
    margin-right: 20px;
    cursor: pointer;
    &.active{
        --opacity:0;
        --rotate:135deg;
        --translate:0;
    }
    
    span{
    display: block;
    width: 80%;
    height:3px;
    background-color:white;
    grid-area: 1/1/-1/-1;
    transition:opacity .4s ease, rotate .4s ease, trasnlate .4s ease;
    &:nth-child(1){
        opacity: var(--opacity);
    }
    &:nth-child(2){
        translate: 0 calc(var(--translate) * -1);
        rotate: var(--rotate);
    }
    &:nth-child(3){
        translate: 0 var(--translate);
        rotate:calc(var(--rotate) * -1);
    }
}
}

.menu{
  position: absolute;
  top: 65px;
  right: 0;
  width: 250px;
  height: 0px;
  background-color:#2a463d;
  transition: height 0.3s ease;
  padding: 0;
  overflow: hidden;
}

.menu li{
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-left: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.menu ::before{
    content: ">";
    margin-right: 20px;
}

.menu.active{
    height: 150px;
}

main{
    position:static;
    padding-top: 65px;
    background-color: #FFF8E7;
}

h1 {
  color: #333;
  text-align: center;
}

.search-box {
  display: flex;
  width: 100%;
  max-width: 800px; 
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  outline: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

input {
  flex: 1;
  height: 64px;
  font-size: 16px;
  border: none;
  border-radius: 50px 0 0 50px; /* 左側だけ丸く */
  padding: 0 12px;
  background-color: white;
  z-index: 900;
}

input:focus{
  outline: none;
}

.search-box button {
  height: 64px;
  font-size: 16px;
  background-color: #3E665A;
  color: white;
  border: none;
  border-radius: 0 50px 50px 0; /* 右側だけ丸く */
  padding: 0 20px;
  cursor: pointer;


}


.results {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2列にする */
  gap: 20px; /* カード間の余白 */
  max-width: 1200px;
  margin: 0 auto; /* ←これが中央寄せの決め手 */
  padding: 0 10px;
  width: 100%;

}

.facility {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.facility-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.facility-info{
    flex: 1;
    margin-left: 20px;
    font-size: 16px;
}

.facility-info strong{
    font-size: 18px;
    display: block;
    margin-bottom: 40px;
    margin-top: -10px;
}

.filter-row {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  padding-top: 25px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center; /* ← 横方向の中央揃え */    
}

.filter-row label{
    font-size: 16px;
    white-space: nowrap;
}

.filter-row select {
  width: 100px;
  padding: 12px;
  margin-right: 20px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  white-space: nowrap; /* ← 改行を防ぐ */
}

#city {
  display: none;
  transition: opacity 0.3s ease;
}

.wave-container {
  position:absolute;
  z-index: 990;
  width: 100%;
  height: 200px;
  overflow: hidden;
  z-index: 10;
}

.wave {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}

.wave path{
  fill:#FFF8E7;

}

footer {
    height: 300px;
    background-color:#3E665A;
    margin: 0;
  }

.footer{
    padding-top: 150px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.footer span{
  color: white;
  cursor: pointer;
  z-index:999;
}



