body{
    margin: 0;
    overflow-x: hidden;
}

header{
    position:fixed;
    height:65px;
    width:100%;
    background-color: #3E665A;
    z-index: 999;
}

.left img{
  position: absolute;
  height:65px;
  margin-left: 25px;
  cursor: pointer;
}

.right{
    float: right;
    position:relative;
    display:flex;
    color:white;
}

.right figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    font-size:20px;
    cursor: pointer;
}

.right figcaption{
    margin-top: 5px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.right button{
    --opcity:1;
    --rotate:0;
    --translate:.7rem;
    display: grid;
    place-items: center;
    width: 50px;
    aspect-ratio: 1/1;
    border: none;
    background-color:transparent;
    margin-top: 6px;
    margin-left:20px;
    margin-right: 20px;
    cursor: pointer;
    &.active{
        --opacity:0;
        --rotate:135deg;
        --translate:0;
    }
    
    span{
    display: block;
    width: 80%;
    height:3px;
    background-color:white;
    grid-area: 1/1/-1/-1;
    transition:opacity .4s ease, rotate .4s ease, trasnlate .4s ease;
    &:nth-child(1){
        opacity: var(--opacity);
    }
    &:nth-child(2){
        translate: 0 calc(var(--translate) * -1);
        rotate: var(--rotate);
    }
    &:nth-child(3){
        translate: 0 var(--translate);
        rotate:calc(var(--rotate) * -1);
    }
}
}

.menu{
  position: absolute;
  top: 65px;
  right: 0;
  width: 250px;
  height: 0px;
  background-color:#2a463d;
  transition: height 0.3s ease;
  padding: 0;
  overflow: hidden;
}

.menu li{
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-left: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.menu ::before{
    content: ">";
    margin-right: 20px;
}

.menu.active{
    height: 150px;
}

.picture{
    position: relative;
    height: 620px;
    width:100%;
    background-color:#FFF8E7;
    margin: auto;
    z-index: 990;
}

.text1{
top: 70px;
left: 80px;
font-size: 90px;
font-family: "Yomogi", cursive;
font-weight: 800;
font-style: normal;
color: black;
position: absolute;
display: inline-block;
z-index: 800;

}

.text2{
top: 525px;
right: 80px;
font-size: 90px;
font-family: "Yomogi", cursive;
font-weight: 800;
font-style: normal;
color: black;
position: absolute;
display: inline-block;
z-index: 800;
}

.slideshow {
  position: relative;
  display: block;
  top: 82px;
  margin: auto;
  width: 1150px;
  height: 580px;
  overflow: hidden;
  border-radius: 20px;
  mask-image:
  linear-gradient(to right,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0) 100%),
  linear-gradient(to bottom,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0) 100%);
mask-composite: intersect;
-webkit-mask-composite: destination-in;
}

.slideshow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3); /* 白で30%の透明度 */
  pointer-events: none; /* クリックなどの操作を透過させる */
  z-index: 1; /* 画像より上、文字より下に配置したい場合は調整 */
}


.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.wave-container {
  position:absolute;
  z-index: 990;
  width: 100%;
  height: 200px;
  overflow: hidden;
  z-index: 10;
}

.wave {
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}

.wave-container:nth-of-type(1) .wave path {
  fill: #FFF8E7;
}

.wave-container:nth-of-type(2) .wave path {
  fill:#A8D5BA ;
}

.wave-container:nth-of-type(3) .wave path {
  fill:#FFF8E7;
}

.wave-container:nth-of-type(4) .wave path {
  fill:#A8D5BA ;
}

.introduction1{
    position: relative;
    padding-top: 120px;
    height:1000px;
    width:100%;
    background-color:#A8D5BA ;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.about{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: -15px;
}

.about::before,
.about::after{
    content: "";
    flex: 1;
    border-bottom: 2px solid #ccc;
}

.about h1{
    margin: 0;
    padding: 0 30px ;
    font-family: "Yomogi", cursive;
    font-weight: 800;
    font-size: 90px;
    letter-spacing: 5px;
    color:black;
}

.introduction1 h2{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 25px;
    color:black;
    margin-bottom: 30px;
}

#first{
  background-color: rgb(255,255,255,0.7);
  width: 1000px;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

#first img{
  height: 300px;
  width: 300px;
  display: block;
  object-fit: cover;
　object-position:right center;
}

#second{
  background-color: rgb(255,255,255,0.7);
  width: 1000px;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#second img{
  height: 300px;
  width: 300px;
  display: block;
  object-fit: cover;
}

.text-block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  padding: 0;
}

.text-block h3{
  font-size: 25px;
}

.text-block p{
  line-height: 30px;
}


.introduction2{
    position: relative;
    padding-top: 120px;
    height:1000px;
    width:100%;
    background-color:#FFF8E7;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.how-to-use{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: -15px;
}

.how-to-use::before,
.how-to-use::after{
    content: "";
    flex: 1;
    border-bottom: 2px solid #ccc;
}

.how-to-use h1{
    margin: 0;
    padding: 0 30px ;
    font-family: "Yomogi", cursive;
    font-weight: 800;
    font-size: 90px;
    letter-spacing: 5px;
    color:black;
}

.how-to-use span{
    letter-spacing: -20px;
}

.introduction2 h2{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 25px;
    color:black;
    margin-bottom: 30px;
}

.introduction2 p{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 150px;
}
.introduction2 h3{
    background: linear-gradient(to bottom, transparent 55%,  #A8D5BA 45%);
    display: inline-block;
    padding-bottom:7px;
    padding-left: 15px;
    font-size: 30px;
    width: 300px;
    margin: 0 ;
    margin-left: 185px;
    margin-bottom: 20px;
}



.introduction3{
    position: relative;
    padding-top: 120px;
    height:700px;
    width:100%;
    background-color:#FFF8E7;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.sign-up{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: -10px;
}

.sign-up::before,
.sign-up::after{
    content: "";
    flex: 1;
    border-bottom: 2px solid #ccc;
}

.sign-up h1{
    margin: 0;
    padding: 0 30px ;
    font-family: "Yomogi", cursive;
    font-weight: 800;
    font-size: 90px;
    letter-spacing: 5px;
    color:black;
}

.sign-up span{
    letter-spacing: -20px;
}

.introduction3 h2{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 25px;
    color:black;
    margin-bottom: 30px;
}

.account{
    display: flex;
    font-size: 20px;
    max-width: 850px;
    margin: 0 auto;
    gap: 50px;
    margin-top: 20px;
}

.new,.already{
    background-color: rgba(255, 255, 255, 0.7);
    height: 500px;
    width: 400px;
    color: black;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#new,#already{
    text-align: center;
    justify-content: center;
    font-size: 60px;
    margin-top: 60px;
    color: #3E665A;
}

.account h3 {
  margin-top: 40px;
  padding-bottom: 20px;
  position: relative; /* 疑似要素を使うために必要 */
}

.account h3::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100px;              /* ★ここを好きな長さに調整できる */
  height: 2px;
  background-color: #3E665A; /* 元の線の色 */
  margin-top: 25px;           /* h3 との間隔 */
}

.account p{
  font-size: 13px;
  width: 300px;
  margin: 0 auto;
  padding-top: 45px;
}

.introduction4{
    position: relative;
    padding-top: 120px;
    height:700px;
    width:100%;
    background-color:#A8D5BA;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.search{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: -15px;
}

.search::before,
.search::after{
    content: "";
    flex: 1;
    border-bottom: 2px solid #ccc;
}

.search h1{
    margin: 0;
    padding: 0 30px ;
    font-family: "Yomogi", cursive;
    font-weight: 800;
    font-size: 90px;
    letter-spacing: 5px;
    color:black;
}

.introduction4 h2{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 25px;
    color:black;
    margin-bottom: 30px;
}

.search-yet{
    display: flex;
    font-size: 20px;
    max-width: 850px;
    margin: 0 auto;
    gap: 50px;
    margin-top: 20px;
}

.search-yet-button,.check{
    background-color: rgba(255, 255, 255, 0.7);
    height: 500px;
    width: 400px;
    color: black;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#search-yet-button,#check{
    text-align: center;
    justify-content: center;
    font-size: 60px;
    margin-top: 60px;
    color: #3E665A;
}

.search-yet h3 {
  margin-top: 40px;
  padding-bottom: 20px;
  position: relative; /* 疑似要素を使うために必要 */
}

.search-yet h3::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100px;              /* ★ここを好きな長さに調整できる */
  height: 2px;
  background-color: #3E665A; /* 元の線の色 */
  margin-top: 25px;           /* h3 との間隔 */
}

.search-yet p{
  font-size: 13px;
  width: 300px;
  margin: 0 auto;
  padding-top: 45px;
}

footer {
    height: 300px;
    background-color:#3E665A;
    margin: 0;
  }

.footer{
    padding-top: 150px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.footer span{
  color: white;
  cursor: pointer;
  z-index:999;
}

/* スマホ用レスポンシブ */
@media screen and (max-width: 480px) {
    
  header {
    height: 55px;
    width: 100%;
  }

  .left img {
    width: 100%;
    margin-left: 10px;
  }

  .right figure {
    font-size: 16px;
    margin: 5px;
    margin-top: 10px;
  }

  .right button{
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .menu{
    top: 55px;
  }

  .text1{
    font-size: 30px;
    left: 20px;
  }
  
  .text2{
    font-size: 30px;
    top: 355px;
    right: 20px;
  }

  .slideshow {
    width: 100%;
    height:300px;
  }

  .picture{
    width: 100%;
    height: 400px;
  }

  .wave-container{
    width: 100%;
    height: 75px;
  }

  .introduction1{
    padding-top: 50px;
    height: 1420px;
  }

  .about{
    margin-top: 0px;
  }

  #first, #second {
    width: 79.2%;
    margin-left: 7.5px;
    margin-right: 7.5px;
    padding: 30px;
    flex-direction: column;
    gap: 0px;
  }

  #first img, #second img {
    width: 100%;
    height: 200px;
    margin-right: 0px;
    margin-bottom: 5px;
  }

  .text-block {
    height: auto;
    text-align: center;
    padding: 0px;
  }

  .text-block h3{
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }

  .text-block p{
    font-size: 12px;
    line-height: 25px;
    text-align: left;
  }

  .introduction3{
    padding-top: 50px;
    height: 750px;
  }

  .new,.already,.search-yet-button,.check{
    width: 100%;
    text-align: center;
    justify-content: center;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  #new,#already,#search-yet-button,#check{
    margin: 0 auto;
    margin-top: 30px;
  }

  .account h3{
    margin: 0 auto;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .account p{
    margin: 0 auto;
    padding-top: 20px;
  }

  .search-yet h3{
    margin: 0 auto;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .search-yet p{
    margin: 0 auto;
    padding-top: 20px;
  }

  .introduction4{
    padding-top: 50px;
    height: 750px;
  }

  .about h1,
  .how-to-use h1,
  .sign-up h1,
  .search h1 {
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 5px;
  }

  .introduction1 h2,
  .introduction2 h2,
  .introduction3 h2,
  .introduction4 h2 {
    font-size: 18px;
  }

  .account ,.search-yet{
    flex-direction: column;
    gap: 5px;
    padding-right: 7.5px;
    padding-left: 7.5px;
  }

  .search-button h3 {
    width: 90%;
    font-size: 18px;
  }

  footer {
    height: auto;
    padding: 20px;
  }

  .footer {
    flex-direction: column;
    gap: 15px;
    padding-top: 50px;
  }}






















